* {
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  background-color: #FBF8F1;
}

.g-main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.g-wrapper{
 display: flex;
 flex-direction: column;
 width: 340px;
 justify-content: space-evenly;
}

.g-title{
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.g-title>span{
    width: 100px;
    height: 50px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.g-scores{
    width: 220px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    flex: 0 0 auto;
}

.g-score-box{
    width: 100px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #BBADA0;
    border-radius: 10px;
}

.g-score-box>span:first-child{
    color: #ebe2dc;
    font-size: 12px;
}

.g-score-box>span:last-child{
    color: #FEF3E9;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
}

.g-info{
    text-align: center;
    font-weight: bold;
    line-height: 50px;
    font-size: 24px;
}

.g-cross{
    margin: 10px 0 0 0;
    padding: 5px 0;
    width: 340px;
    height: 340px;
    background-color: #BBADA0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}



.g-bRow{
    display: flex;
    justify-content: space-evenly;
}

.g-blk{
    width: 80px;
    height: 80px;
    /* line-height: 62px;
    text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D6CDC4;
    border-radius: 10px;
    flex: 0 0 auto;
    font-size: 20px;
    font-weight: bold;
    transition: all .3s;
}


@keyframes gAnime {
    0%{
        transform: scale(75%);
    }
    100%{
        transform: scale(100%);
    }
}

.g-2,.g-4{
    color:#73695F;
}

.g-2{
    background-color: #EEE4DA;
}

.g-4{
    background-color: #ECE0CA;

}


/*
    maybe [class*="g-blk-"] ?
*/
.g-2,.g-4,.g-8,.g-16,.g-32,.g-64,.g-128,.g-256,.g-512,.g-1024,.g-2048, .g-over{
    animation: gAnime .5s forwards;
}

.g-8,.g-16,.g-32,.g-64,.g-128,.g-256,.g-512,.g-1024,.g-2048, .g-over{
    color: #FBF8F1;
}

.g-8{
    background-color: #F2B179;
}

.g-16{
    background-color: #F59565;
}

.g-32{
    background-color: #F57C5F;
}

.g-64{
    background-color: #F65D3B;
}

.g-128{
    background-color: #EDCE71;
}

.g-256{
    background-color: #EDCD60;
}

.g-512{
    background-color: #EDCD60;
}

.g-1024{
    background-color: #e7c34b;
}

.g-2048{
    background-color: #EEC12E;
}

.g-over{
    background-color: #4f3ee7;
    font-size: 18px;
}

@media (min-width: 768px) {
  .g-main {
    width: 750px;
    margin: 0 auto;
  }

  .g-wrapper{
    display: flex;
    flex-direction: column;
    width: 680px;
   }

   .g-info{
    font-size: 40px;
}

   .g-cross{
    margin: 10px 0 0 0;
    padding: 5px 0;
    width: 680px;
    height: 680px;
}



.g-bRow{
    display: flex;
    justify-content: space-evenly;
}

.g-blk{
    width: 160px;
    height: 160px;
    font-size: 48px;
}

}